<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="banner">  
        <div class="body">
            <div class="body-detail">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi saepe fugit quibusdam, ipsa culpa delectus. Cumque delectus officia magni nulla adipisci quibusdam molestiae quis, possimus voluptates laborum rem, voluptas voluptate.
                Voluptates dolorum optio hic repudiandae omnis, mollitia autem cupiditate facilis numquam sequi dignissimos natus quam ratione quis officia impedit necessitatibus, provident saepe doloribus. Voluptatum, maiores vel doloribus ipsa pariatur quas?
                Corrupti minima deserunt quidem quo illum autem delectus magnam, aliquid debitis fugit porro voluptates laborum soluta aliquam nulla quos? Perspiciatis tempora magnam excepturi est ipsam, dolor similique et corporis blanditiis.
                Delectus sed repellendus ad laudantium culpa iste pariatur mollitia. Culpa mollitia quo, voluptatem sit tempora fuga autem commodi inventore nam odio obcaecati ad doloribus corrupti dolorum assumenda. Eligendi, consequatur? Quasi!</p>
            </div>
            <div class="registration">
                <div class="login-status" id="login-status"></div>
                <p>Don't have have an account? <a href="registration.html">sign up</a></p>
            <!-- <input type="text" placeholder="first name">-->
                <input id="login-username" type="text" placeholder="enter username">
                <input id="login-password" type="password" placeholder="enter password">
                <button id="login"><a href="#">Login</a></button>
            </div>
        </div>
    </div>
</body>
</html>