<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create an account</title>
    <link rel="stylesheet" href="../../views/index.css">
</head>
<body>
    <div class="banner">
        <div class="input-container">
            <div class="reg-status" id="reg-status"></div>
            <input type="text" id="first-name" placeholder="first name">
            <input type="text" placeholder="second name" id="second-name">
            <input type="text" placeholder="username" id="user-name">
            <input type="email" placeholder="email" id="email">
            <input type="password" placeholder="create password" id="password">
            <button class="regbtn" id="reg-btn"><a href="#">create Account</a></button>
        </div>
    </div>
</body>
</html>