<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <div class="banner">
        <header>
            <div class="container-nav">
                <h1 class="logo">Cute Dogs.com</h1>
                <button class="nav-toggle" id="nav-toggle">
                    <span class="hamburger"></span>
                </button>
                <nav class="nav">
                    <ul class="list">
                        <li class="list-item"><a href="index.html">HOME</a></li>
                        <li class="list-item"><a href="#">ABOUT</a></li>
                        <li class="list-item"><a href="registration.html">REGISTER</a></li>
                    </ul>
                </nav>
            </div>
        </header> 
        <div class="input-container">
            <div id="reg-status"></div>
            <input type="text" placeholder="enter first name" id="first-name">
            <input type="text" placeholder="enter second name" id="second-name">
            <input type="text" placeholder="create  username" id="user-name">
            <input type="email" placeholder="enter email" id="email">
            <input type="password" placeholder="create password" id="password">
            <button class="regbtn" id="reg-btn"><a href="#">create Account</a></button>
        </div>
    </div>
</body>
<script src="index.js"></script>
</html>