<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="index2.css">
</head>
<body>
   <div class="banner">
        <header>
            <div class="container-nav">
                <h1 class="logo">Cute Dogs.com</h1>
                <button class="nav-toggle" id="nav-toggle">
                    <span class="hamburger"></span>
                </button>
                <nav class="nav">
                    <ul class="list">
                        <li class="list-item"><a href="index2.html">HOME</a></li>
                        <li class="list-item"><a href="render.html">STOCK PHOTOS</a></li>
                        <li class="list-item"><a href="registration2.html">REGISTER</a></li>
                    </ul>
                </nav>
            </div>
        </header> 
       <section>
        <div class="image__render-body" id="image__render-body">
           <!-- <div class="image__render-body-item">
                <img src="images/image02.jpg" alt="">
                <div class="image-details">
                    <h3>Dog name</h3>
                    <p>Lorem ipsum dolor sit.</p>
                </div>
            </div>
            <div class="image__render-body-item">
                <img src="images/image03.jpg" alt="">
                <div class="image-details">
                    <h3>Dog name</h3>
                    <p> Lorem ipsum dolor sit.</p>
                </div>
            </div>
            <div class="image__render-body-item">
                <img src="images/image04.jpg" alt="">
                <div class="image-details">
                    <h3>Dog name</h3>
                    <p>Lorem ipsum dolor sit.</p>
                </div>
            </div>
            <div class="image__render-body-item">
                <img src="images/image05.jpg" alt="">
                <div class="image-details">
                    <h3>Dog name</h3>
                    <p>Lorem ipsum dolor sit.</p>
                </div>
            </div> -->
        </div>
        </section> 
   </div> 
  
</body>
<script src="index2.js"></script>
<script src="render.js"></script>
</html>