<header>
    <div class="container-nav">
        <h1 class="logo">Cute Dogs.com</h1>
        <button class="nav-toggle" id="nav-toggle">
            <span class="hamburger"></span>
        </button>
        <nav class="nav">
            <ul class="list">
                <li class="list-item"><a href="auth/login.ejs">LOG IN</a></li>
                <li class="list-item"><a href="index.ejs">HOME</a></li>
                <li class="list-item"><a href="auth/register.ejs">REGISTER</a></li>
            </ul>
        </nav>
    </div>
</header> 